@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*! css variabel */
:root {
    --text: #f5f5f5;
    --bg: #363457;
    --primary: #735290;
    --bg-text: #465c69;
    --shadowColor: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/*! css reset */
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*! global style */
h1.title-section {
    font-size: 2em;
    color: var(--text);
    font-weight: bold;
    text-align: center;
    margin-bottom: 2em;
}

h1.title-section::after {
    content: "";
    display: block;
    z-index: -1;
    height: 0.5em;
    background-color: var(--bg-text);
    margin: auto;
    margin-top: -20px;
}

section.main-content {
    margin-top: 10em;
}

.hover-animation:hover {
    filter: brightness(80%);
    transition: all 0.3s ease;
    box-shadow: none !important;
    cursor: pointer;
}

.shadow {
    box-shadow: var(--shadowColor);
}

/*! my style */
body {
    /* margin: 0 2em; */
    background-color: var(--bg);
}

/*? header */
header {
    margin-top: 1em;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
header nav ul li a {
    text-decoration: none;
    color: var(--text);
}

/*? main */

/*? hero-section */
.hero-section {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    gap: 5em;
    align-items: center;
}

.hero-section .cta {
    gap: 1.2em;
    display: flex;
    flex-direction: column;
    color: var(--text);
}

.hero-section .cta > h1 {
    font-size: 2em;
}

.hero-section .cta h1.name {
    font-size: 3em;
    background-color: var(--primary);
    padding-right: 1.5em;
    padding-left: 0.2em;
    font-weight: 700;
}

.hero-section .cta button.contact {
    background-color: var(--primary);
    color: var(--text);
    border: none;
    padding: 0.8em 0.5em;
    width: 40%;
    border-radius: 0.3em;
    font-weight: 500;
    font-size: 1em;
}

.hero-section .cta .social-media {
    display: flex;
    gap: 1.5em;
}

.hero-section .cta img {
    width: 1.5em;
}

.hero-section .picture {
    display: flex;
    justify-content: end;
    align-items: center;
}
.hero-section .picture img {
    width: 90%;
    filter: brightness(85%);
}

/*? skill-section */
.skill-section {
    display: flex;
    flex-direction: column;
}

.skill-section > h1::after {
    width: 4em;
}

.skill-section .container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    row-gap: 3em;
    column-gap: 10em;
}

.skill-section .container div.main-card h1 {
    font-weight: 600;
    color: var(--text);
    margin-bottom: 0.5em;
}

.skill-section .container div.main-card .cards {
    display: flex;
    gap: 1em;
}

.skill-section .container div.main-card .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    color: var(--text);
    font-weight: 500;
    font-size: 0.8em;
    background-color: var(--primary);
    padding: 1em 0;
    border-radius: 0.5em;
    width: 10em;
}

.skill-section .container div.main-card .cards .card img {
    height: 30px;
}

.skill-section .container div.main-card:nth-child(even) {
    text-align: end;
    justify-self: end;
}

/*? academic-section */
/** gouping class */
.academic-section .training > h1,
.academic-section .study > h1 {
    font-weight: 600;
    color: var(--text);
}

.academic-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.academic-section > h1::after {
    width: 7em;
}

.academic-section .training {
    display: flex;
    flex-direction: column;
    color: var(--text);
    width: 80%;
}

.academic-section .training .cards {
    display: flex;
    margin-top: 1em;
    gap: 1em;
}

.academic-section .training .cards .card {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    padding: 1.3em 2em;
    gap: 2em;
    width: fit-content;
    border-radius: 0.5em;
}

.academic-section .training .cards .card h1 {
    font-weight: 600;
    font-size: 1em;
}

.academic-section .training .cards .card > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.academic-section .training .cards .card > div a {
    text-decoration: none;
    color: var(--text);
    opacity: 0.5;
}

.academic-section .training .cards .card > div a:hover {
    color: var(--bg);
}

.academic-section .study {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.academic-section .study .timeline {
    display: flex;
    gap: 3em;
    align-items: center;
}

.academic-section .study .timeline .school {
    display: flex;
    gap: 1em;
    align-items: center;
    color: white;
    margin-top: 1em;
}

.academic-section .study .timeline .school .circle {
    width: 22px;
    height: 22px;
    background-color: var(--primary);
    border-radius: 100%;
}

.academic-section .study .timeline .school .school-info {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.academic-section .study .timeline .school .school-info h1 {
    font-size: 1em;
    font-weight: 600;
}

.academic-section .study .timeline .school .school-info h3 {
    font-size: 0.8em;
    font-weight: 300;
}

.academic-section .study .timeline .school-info h5 {
    background-color: var(--primary);
    text-align: center;
}

/*? project-section */
.project-section > h1::after {
    width: 7em;
}

.project-section .cards {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    row-gap: 2em;
}

.project-section .cards .card {
    display: flex;
    gap: 1em;
    color: var(--text);
    background-color: var(--primary);
    width: 70%;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    padding: 1em 1.5em;
}

.project-section .cards .card img {
    height: 100px;
}

.project-section .cards .card .content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: fit-content;
}

.project-section .cards .card h1 {
    font-size: 1.5em;
    font-weight: 600;
}
.project-section .cards .card h3 {
    font-size: 1em;
    font-weight: 500;
}

.project-section .cards .card p {
    font-size: 0.8em;
    opacity: 0.8;
    width: 80%;
}

/*? competition */
.competition-section > h1::after {
    width: 8em;
}

.competition-section .cards {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.competition-section .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: var(--primary);
    border-radius: 0.5em;
    padding: 1em 2em;
    color: var(--text);
    width: 30%;
    text-align: center;
}

.competition-section .cards .card img {
    width: 50px;
}

.competition-section .cards .card h1 {
    font-size: 1.3em;
    font-weight: 600;
}

.competition-section .cards .card p {
    opacity: 0.8;
    font-size: 0.8em;
}

/*? footer */
footer {
    margin-top: 10em;
    background-color: #2c2b46;
    display: flex;
    justify-content: space-around;
    padding: 1.5em 2em;
}

footer h1 {
    color: var(--text);
    font-weight: 500;
    font-size: 1.5em;
    align-self: center;
    opacity: 0.8;
    text-align: center;
}

footer h1::after {
    content: "";
    display: block;
    z-index: -1;
    height: 0.8em;
    background-color: var(--bg-text);
    margin: auto;
    margin-top: -16px;
    width: 10em;
}

footer .menu {
    display: flex;
    flex-direction: column;
}

footer .menu h3 {
    font-weight: 500;
    color: var(--text);
}

footer .menu .sub-menu {
    display: flex;
    gap: 1em;
}

footer .menu span a {
    color: var(--text);
    text-decoration: none;
    opacity: 0.5;
}

/*! responsive */
@media screen and (min-width: 0px) and (max-width: 360px) {
    /*? header */
    header nav ul li a {
        font-size: 0.8em;
    }

    /*? hero-section */
    .hero-section {
        flex-direction: column;
        gap: 0;
    }

    .hero-section .cta > h1 {
        font-size: 1.5em;
    }

    .hero-section .cta h1.name {
        font-size: 1.8em;
        padding-right: 1em;
        width: fit-content;
    }

    .hero-section .cta p {
        font-size: 0.7em;
    }

    .hero-section .cta button.contact {
        padding: 0.5em 0.3em;
        width: 40%;
        font-size: 0.8em;
    }

    .hero-section .cta .social-media {
        display: flex;
        gap: 1em;
    }

    .hero-section .cta .social-media img {
        width: 1em;
    }

    /*? skill-section */
    .skill-section .container {
        grid-template-columns: auto;
        justify-content: center;
        row-gap: 2em;
    }

    .skill-section .container div.main-card > h1 {
        font-size: 1em;
    }

    .skill-section .container div.main-card .cards .card {
        font-size: 0.5em;
        width: 12em;
    }

    /*? academic-section */
    .academic-section .training h1,
    .academic-section .study h1 {
        font-size: 1.2em;
    }

    .academic-section .training .cards {
        flex-direction: column;
        gap: 1.5em;
    }
    .academic-section .training .cards .card > h1 {
        font-size: 0.8em;
    }
    .academic-section .training .cards .card > div img {
        width: 80px;
    }
    .academic-section .training .cards .card > div a {
        font-size: 0.8em;
    }

    .academic-section .study {
        margin-top: 3em;
    }

    .academic-section .study .timeline {
        align-items: flex-start;
        flex-direction: column;
        gap: 0.8em;
    }

    /*? project-section */
    .project-section .cards {
        grid-template-columns: auto;
    }

    .project-section .cards .card {
        width: 90%;
    }

    .project-section .cards .card img {
        height: 80px;
    }

    .project-section .cards .card .content h1 {
        font-size: 1em;
    }
    .project-section .cards .card .content h3 {
        font-size: 0.8em;
    }
    .project-section .cards .card .content p {
        font-size: 0.7em;
        width: 100%;
    }

    /*? competition-section */
    .competition-section .cards {
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }
    .competition-section .cards .card {
        width: 80%;
    }
    .competition-section .cards .card h1 {
        font-size: 1em;
    }
    .competition-section .cards .card p {
        font-size: 0.7em;
    }

    /*? footer */
    footer {
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
    footer > h1 {
        font-size: 1.5em;
    }
    footer .menu h3 {
        font-size: 1em;
        text-align: center;
    }
    footer .menu .sub-menu {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    footer .menu .sub-menu a {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 360px) and (max-width: 640px) {
    /*? header */
    header nav ul li a {
        font-size: 1em;
    }

    /*? hero-section */
    .hero-section {
        flex-direction: column;
        gap: 0;
        padding: 0 2em;
    }

    .hero-section .cta {
        align-self: flex-start;
    }

    .hero-section .cta > h1 {
        font-size: 1.8em;
    }

    .hero-section .cta h1.name {
        font-size: 2em;
        width: fit-content;
    }

    .hero-section .cta p {
        font-size: 0.8em;
    }

    .hero-section .cta button.contact {
        width: 50%;
        font-size: 1em;
    }

    .hero-section .picture {
        align-self: flex-end;
    }

    /*? skill-section */
    .skill-section .container {
        grid-template-columns: auto;
        row-gap: 2em;
    }

    .skill-section .container div.main-card > h1 {
        font-size: 1.2em;
    }

    .skill-section .container div.main-card .cards .card {
        font-size: 0.7em;
        width: 10em;
        padding: 2em 0;
    }

    /*? academic-section */
    .academic-section .training h1,
    .academic-section .study h1 {
        font-size: 1.5em;
    }

    .academic-section .training .cards {
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
    }

    .academic-section .training .cards .card {
        width: 100%;
    }

    .academic-section .training .cards .card > h1 {
        font-size: 1em;
    }
    .academic-section .training .cards .card > div img {
        width: 80px;
    }
    .academic-section .training .cards .card > div a {
        font-size: 0.8em;
    }

    .academic-section .study {
        margin-top: 3em;
    }

    .academic-section .study .timeline {
        align-items: flex-start;
        flex-direction: column;
        gap: 0.8em;
    }

    /*? project-section */
    .project-section .cards {
        grid-template-columns: auto;
    }

    .project-section .cards .card {
        width: 90%;
    }

    .project-section .cards .card img {
        height: 80px;
    }

    .project-section .cards .card .content h1 {
        font-size: 1em;
    }
    .project-section .cards .card .content h3 {
        font-size: 0.8em;
    }
    .project-section .cards .card .content p {
        font-size: 0.7em;
        width: 100%;
    }

    /*? competition-section */
    .competition-section .cards {
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }
    .competition-section .cards .card {
        width: 80%;
    }
    .competition-section .cards .card h1 {
        font-size: 1em;
    }
    .competition-section .cards .card p {
        font-size: 0.7em;
    }

    /*? footer */
    footer {
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
    footer > h1 {
        font-size: 1.5em;
    }
    footer .menu h3 {
        font-size: 1em;
        text-align: center;
    }
    footer .menu .sub-menu {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    footer .menu .sub-menu a {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 640px) and (max-width: 1080px) {
    /*? hero-section */
    .hero-section {
        justify-content: center;
    }

    .hero-section .cta {
        width: 40%;
    }
    .hero-section .cta > h1 {
        font-size: 1.3em;
    }

    .hero-section .cta h1.name {
        font-size: 1.5em;
    }

    .hero-section .cta p {
        font-size: 0.7em;
    }

    .hero-section .cta button.contact {
        width: 60%;
        font-size: 1em;
    }

    .hero-section .picture {
        width: 40%;
        align-self: flex-end;
    }

    .hero-section .picture img {
        width: 100%;
    }

    /*? skill-section */
    .skill-section .container {
        grid-template-columns: auto auto;
        row-gap: 2em;
        column-gap: 0;
    }

    .skill-section .container div.main-card > h1 {
        font-size: 1.2em;
    }

    .skill-section .container div.main-card .cards .card {
        font-size: 0.6em;
        width: 10em;
        padding: 2em 0;
    }

    .skill-section .container div.main-card .cards .card img {
        height: 25px;
    }

    /*? academic-section */
    .academic-section .training h1,
    .academic-section .study h1 {
        font-size: 1.5em;
    }

    .academic-section .training .cards {
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
    }

    .academic-section .training .cards .card {
        width: 100%;
    }

    .academic-section .training .cards .card > h1 {
        font-size: 1em;
    }
    .academic-section .training .cards .card > div img {
        width: 80px;
    }
    .academic-section .training .cards .card > div a {
        font-size: 0.8em;
    }

    .academic-section .study {
        margin-top: 3em;
    }

    .academic-section .study .timeline {
        align-items: flex-start;
        flex-direction: column;
        gap: 0.8em;
    }

    /*? project-section */
    .project-section .cards {
        grid-template-columns: auto auto;
    }

    .project-section .cards .card {
        width: 90%;
    }

    .project-section .cards .card img {
        height: 80px;
    }

    .project-section .cards .card .content h1 {
        font-size: 1em;
    }
    .project-section .cards .card .content h3 {
        font-size: 0.8em;
    }
    .project-section .cards .card .content p {
        font-size: 0.7em;
        width: 100%;
    }

    /*? competition-section */
    .competition-section .cards {
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }
    .competition-section .cards .card {
        width: 70%;
    }
    .competition-section .cards .card h1 {
        font-size: 1em;
    }
    .competition-section .cards .card p {
        font-size: 0.7em;
    }

    /*? footer */
    footer {
        gap: 1em;
    }
    footer > h1 {
        font-size: 1.5em;
    }
    footer .menu h3 {
        font-size: 1em;
        text-align: center;
    }
    footer .menu .sub-menu {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    footer .menu .sub-menu a {
        font-size: 0.8em;
    }
}
