/** gouping class */
.academic-section .training > h1,
.academic-section .study > h1 {
    font-weight: 600;
    color: var(--text);
}

.academic-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.academic-section > h1::after {
    width: 7em;
}

.academic-section .training {
    display: flex;
    flex-direction: column;
    color: var(--text);
    width: 80%;
}

.academic-section .training .cards {
    display: flex;
    margin-top: 1em;
    gap: 1em;
}

.academic-section .training .cards .card {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    padding: 1.3em 2em;
    gap: 2em;
    width: fit-content;
    border-radius: 0.5em;
}

.academic-section .training .cards .card h1 {
    font-weight: 600;
    font-size: 1em;
    color: var(--normal);
}

.academic-section .training .cards .card > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.academic-section .training .cards .card > div a {
    text-decoration: none;
    color: var(--normal);
    opacity: 0.5;
}

.academic-section .training .cards .card > div a:hover {
    color: var(--bg);
}

.academic-section .study {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    width: 60%;
}

/*! slide button */
.academic-section .study input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.academic-section .study label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 20px;
    background: var(--bg-text);
    display: block;
    border-radius: 100px;
    position: relative;
}

.academic-section .study label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 10px;
    transition: 0.5s;
}

.academic-section .study input:checked + label {
    background: var(--primary);
}

.academic-section .study input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.academic-section .study label:active:after {
    width: 30px;
}

/*! end of slide button */

.academic-section .study .timeline {
    display: flex;
    gap: 3em;
    align-items: center;
}

.academic-section .study .timeline table {
    display: table;
    width: 100%;
    text-align: center;
    margin-top: 1em;
    border: 1px solid var(--primary);
    animation-duration: 0.5s;
}

.academic-section .study .timeline table thead {
    background-color: var(--primary);
    color: var(--normal);
    height: 2.5em;
}

.academic-section .study .timeline table tbody tr {
    height: 2.3em;
    color: var(--primary);
    background-color: var(--normal);
}

.academic-section .study .timeline table tbody tr:nth-child(even) {
    filter: brightness(95%);
}

.academic-section .study .timeline table tbody tr:hover {
    background-color: var(--normal);
    opacity: 0.8;
    cursor: pointer;
}

.academic-section .study .timeline table tbody tr td {
    font-size: 0.7em;
    font-weight: 600;
}

.academic-section .study .timeline .school {
    display: flex;
    gap: 1em;
    align-items: center;
    color: white;
    margin-top: 1em;
    animation-duration: 0.5s;
}

.academic-section .study .timeline .school .circle {
    width: 22px;
    height: 22px;
    background-color: var(--primary);
    border-radius: 100%;
}

.academic-section .study .timeline .school .school-info {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.academic-section .study .timeline .school .school-info h1 {
    font-size: 1em;
    font-weight: 600;
    color: var(--text);
}

.academic-section .study .timeline .school .school-info h3 {
    font-size: 0.8em;
    font-weight: 300;
    color: var(--text);
}

.academic-section .study .timeline .school-info h5 {
    background-color: var(--primary);
    text-align: center;
}
