/*! css variabel */
:root {
    --primary: #735290;
    --normal: #f5f5f5;
    --footer-bg: #465c69;

    /* dark */

    --bg: #363457;
    --bg-text: #465c69;
    --text: #f5f5f5;

    /* light */
    /* --bg: #eeeeee;
    --bg-text: #cbcbcb;
    --text: #465c69; */
    --shadowColor: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
